extends layout

append head
  link(rel='stylesheet', href='/stylesheets/svg-map.css')


block content
  h1= title
  p #{title}
  
  #main
    #svg-map_container
      //- Style a responsive image from SVG using img()
      //- img(src='/images/svg-map.svg')
      
      //- Dynamically load into an SVG div
      svg#map
      
  
  small Sources: <br>
    a(href = 'https://datascience.blog.wzb.eu/2016/08/29/bringing-svg-to-life-with-d3-js/') Bringing SVG to life with D3


append scripts
    script(src="/lib/d3v5/d3.js")
    script(src="/javascripts/svg-map.js")
